<%- include('../partials/header')%>

<style>
    .commentEditor {
        max-width: 60%;
    }

    @media (max-width: 840px) {
        .commentEditor {
            max-width: 90%;
            padding-top: 10%;
        }
    }
</style>

<div class="container commentEditor" style="margin-top: 10%;">
    <div class="row justify-content-center">
        <div class="h3 text-center"> <i class="user plus icon"></i> Edit comment</div>
    </div>
    <form action="/posts/<%=post_id%>/comments/<%=editComment._id%>?_method=PUT" method="post">

        <div class="row-fluid form-group">
            <label for="">Comment</label> <br>
            <div class="row">
                <textarea class="form-control" name="comment[text]" cols="30" rows="10"><%-editComment.text%></textarea>
            </div>
        </div>
        <div class="d-flex justify-content-around">
            <div class="btn-group">
                <input class="btn btn-outline-success" type="submit" value="Save">
                <button type="button" class="btn btn-outline-danger ml-1"
                    onclick="location.href='/posts/<%=post_id%>'">Go
                    Back</button>
            </div>
        </div>
    </form>
</div>


<%- include('../partials/footer')%>