<%include ../partials/header%>
<style>
    #editor {
        position: fixed;
        margin: 0;
        padding: 0;
        right: 4%;
        top: 10%;
        z-index: 1;
        width: max-content;
    }

    .wrapperButton span {
        max-width: 0;
        display: inline-block;
        overflow-x: hidden;
        vertical-align: top;
        white-space: nowrap;
        transition: max-width 1s;
        -webkit-transition: max-width 1s;
    }

    .wrapperButton:hover span {
        max-width: 150px;
    }
</style>
<%if(typeof currentUser !=='undefined' && (foundPost.author.id.equals(currentUser._id)||(currentUser.username === SECRET_id))){%>
<div class="container" id="editor">
    <form action="/posts/<%=foundPost._id%>?_method=DELETE" method="post">
        <a href="/posts/<%=foundPost._id%>/edit" class="wrapperButton btn btn-info p-2"><i
                class="icon edit"></i><span>Edit</span></a>
        <button type="submit" class=" wrapperButton btn btn-danger p-2"><i
                class=" times circle outline icon"></i><span>Delete</span></button>
    </form>
</div>
<%}%>

<div id="header" class="col justify-content-center">
    <div class="col-12 text-center">
        <div class="h3"><%=foundPost.name%></div>
<div>
    <small class='text-muted'>Posted By -
        <strong><%=foundPost.author.username%><div class='text-muted'>
        </strong>
    </small>
</div>
</div>
</div>


<style>
    .card-img {
        float: right;
        width: 40%;
        height: 55%;
        padding: 3% 0 0 2%;
    }

    #header {
        margin-top: 7%;
    }

    @media (max-width:840px) {
        .card-img {
            width: 100%;
            height: 20%;
            padding: 0 0 4% 0;
        }

        #header {
            margin-top: 20%;
        }

        .commentButtons {
            margin: 4% 0 2% 0;
        }
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 col-11 pt-4 pb-4">
            <img class="card-img" src="<%=foundPost.image%>" alt="">
            <p style="white-space: pre-wrap;" style="text-align: justify" class="text-justify lead">
                <%-foundPost.description%>
            </p>
        </div>
    </div>
    <div class="row justify-content-center mt-2" style="margin-right: 0; padding-right:0;">
        <div class="col-md-12 col-11">
            <div class="commentButtons row h4 justify-content-center">
                <i class="icon comments"></i>Comments
            </div>
            <%foundPost.comments.forEach((value, index, array) => {%>
            <hr>
            <div class="container-fluid">
                <div class="row">
                    <div class="h5 text-left">
                        <%-value.author.username%> <small class="text-muted">
                            commented on this post
                        </small>
                        <p class="lead text-justify">
                            <%-value.text%>
                        </p>
                    </div>
                </div>
                <div class="container-fluid p-0 m-0">
                    <%if(typeof currentUser !=='undefined' && (value.author.id.equals(currentUser._id)||(currentUser.id === '5dc8f136e53c1f1d847bd643'))){%>
                    <div class="row no-gutters">
                        <div class="col-12">
                            <form class="form text-right"
                                action="/posts/<%=foundPost._id%>/comments/<%=value._id%>?_method=DELETE"
                                method="post">
                                <div class="btn-group" role="group">
                                    <button type="button"
                                        onclick='location.href="/posts/<%=foundPost._id%>/comments/<%=value._id%>/edit"'
                                        class="btn btn-outline-secondary btn-sm">Edit</button class="wrapperButton">
                                        <button type="submit" class="btn btn-outline-secondary btn-sm"
                                            value="Delete">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <%}%>                
                </div>
            </div>
                <%})%>
                    <div class="commentButtons row justify-content-center">
                        <div class="btn-group">
                            <a href="/posts/<%=foundPost._id%>/comments/new" class="btn btn-outline-info">
                                <i class="icon plus"></i>Add Comment
                                <a href="/posts/<%=foundPost._id%>/comments/new"
                                    class="btn btn-outline-info">
                                    <span style="display: inline-block;" class="">
                                        #<%=foundPost.comments.length%>
                                    </span>
                                </a>

                        </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!-- <div class="row justify-content-center">
    <button class="btn btn-danger">
        <a style="color: white; display:inline-block" class="nav-link inline"
            href="/posts/<%=foundPost._id%>/comments/new">
            <i class="icon comments"></i> Comment
        </a s>
       
    </button>
</div>

</div>
</div> -->
        <%include ../partials/footer%>